{% extends 'base/base.html' %}
{% load static %}
<link rel="stylesheet" type="css" href="{% static 'search.css' %}">
{% block title %} Search{% endblock title %} Search

{% block content %}
<div class="search_body">
<h1>view Detail</h1>
<form method="get">
    {% csrf_token %}
    <label>Search by Name:</label>
    <input type="text", name="keyword">
    <button class="btn btn-outline-success" type="submit">Search</button> 
</form> 
<hr>
{% if rows %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Firstname</th>
        <th scope="col">Middlename</th>
        <th scope="col">LastName</th>
        <th scope="col">Gender</th>
        <th scope="col">Rollnumber</th>
        <th scope="col">Phonenumber</th>
        <th scope="col">DateofBirth</th>
        <th scope="col">Email</th>
        <th scope="col">Fathername</th>
        <th scope="col">Mothername</th>
        <th scope="col">DateOfAdmission</th>
        <th scope="col">Fees</th>
    </tr>
</thead>
    {% for row in rows %}
    <tbody>
    <tr scope="row">
        <td>{{ row.0 }}</td>
        <td>{{ row.1 }}</td>
        <td>{{ row.2 }}</td>
        <td>{{ row.3 }}</td>
        <td>{{ row.4 }}</td>
        <td>{{ row.5 }}</td>
        <td>{{ row.6 }}</td>
        <td>{{ row.7 }}</td>
        <td>{{ row.8 }}</td>
        <td>{{ row.9 }}</td>
        <td>{{ row.10 }}</td>
        <td>{{ row.11 }}</td>  
        <td>{{ row.12 }}</td> 
         
    </tr>
</tbody>
    {% endfor %}
</table>
 {% else %}
    <p>No results found.</p>
{% endif %} 
</div>
{% endblock content %}